[Unit]
Description=gRPC Auth
After=network.target

[Service]
User=abz
WorkingDirectory=/home/abz/apps/grpc-auth
ExecStart=/home/abz/apps/grpc-auth/grpc-auth --config=/home/abz/apps/grpc-auth/config/prod.yaml
Restart=always
RestartSec=4
StandardOutput=inherit

[Install]
WantedBy=multi-user.target